# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

##	Obtain serial definition by "ls -l /dev/serial/by-id/" then unplug to verify

#####################################################################
#    Includes
#####################################################################

[include mainsail.cfg]
[include nozzle_scrub.cfg]
[include klicky-probe.cfg]
[include leds.cfg]
[include macros.cfg]
[include z_calibration.cfg]
[include tmc.cfg]
[include steppers.cfg]
[include fans.cfg]
[include heated_bed.cfg]
[include bed_mesh.cfg]
[include temp_sensor.cfg]
[include homing_qgl.cfg]

#####################################################################
# 	Definitions
#####################################################################

## MCU
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_11001600165053424E363620-if00
restart_method: command

## MCU for adxl345 accelerometer
[mcu rpi]
serial: /tmp/klipper_host_mcu

## General Printer Definition
[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000    			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800
gcode:
	_CASELIGHT_OFF
	STATUS_OFF

#####################################################################
# 	Probe Definition
#####################################################################

[probe]
## Klicky Probe
pin: PG15
x_offset: 0
y_offset: 19.75
z_offset: 6.42
speed: 5
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.01
samples_tolerance_retries: 10



#####################################################################
#	ADXL345 Setup
##################################################################### 

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,50
	
[gcode_shell_command plot_graph]
command: sh /home/pi/klipper_config/script/plot_graph.sh
timeout: 30.0
verbose: True

#####################################################################
#	Github Backup Command
#####################################################################

[gcode_shell_command backup_cfg]
command: sh /home/pi/klipper_config/script/gitbackup.sh
timeout: 30.
verbose: True


[gcode_macro BACKUP_CFG]
gcode:
    RUN_SHELL_COMMAND CMD=backup_cfg

#####################################################################
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 42.022
#*# pid_ki = 0.919
#*# pid_kd = 480.624
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.053
#*# pid_ki = 0.818
#*# pid_kd = 88.888
#*#
#*# [stepper_z]
#*# position_endstop = 0.455
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.087500, 0.120000, 0.112500, 0.115000, 0.142500, 0.097500, 0.025000
#*# 	  0.060000, 0.070000, 0.082500, 0.085000, 0.082500, 0.062500, 0.015000
#*# 	  0.060000, 0.027500, 0.037500, 0.020000, 0.042500, 0.005000, -0.020000
#*# 	  -0.025000, 0.000000, -0.005000, 0.000000, -0.000000, -0.017500, -0.032500
#*# 	  0.002500, 0.000000, -0.002500, 0.022500, 0.005000, -0.017500, -0.027500
#*# 	  0.005000, 0.000000, 0.007500, 0.022500, 0.020000, 0.010000, -0.017500
#*# 	  0.052500, 0.070000, 0.057500, 0.100000, 0.075000, 0.060000, 0.032500
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 7
#*# max_y = 319.98
#*# mesh_x_pps = 2
#*# max_x = 319.98
